@charset "UTF-8";
/* CSS Document */
/*My Color Palette
Color 1:#CA5A00 (Chocolate)
Color 2:#5ADDA1 (Its A Color)
Color 3:#DDDDDD (Silver) 
*/
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-/
|																		  |
|																		  |
|																		  |
|						BASIC STRUCTURE 		  			  |
|																		  |
|																		  |
|																		  |
/~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/			


#footer {
	text-align:right;
	background-color:black;
}
a {
	color:white;
}
#wrapper {
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}
#header {
	height: 100px
}
#sidebar {
	float:right;
	width: 300px;
}
#content {
	float: left;
	width: 600px;
	
}
#footer {
	clear: both;
}


/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-/
|																		  |
|																		  |
|																		  |
|						COLOR AND FONTS		  			  |
|																		  |
|																		  |
|																		  |
/~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/		

body {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color:white;
	background-color:blue;
}

#header, #sidebar, #content, #footer{
	background-color:red; 
	margin-bottom:4px;
	border: groove;
	border-radius:20px;
	border-color:#38DDBE;
	padding-left:4px;
	padding-right:4px;
}
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-/
|																		  |
|																		  |
|																		  |
|						RESPONSIVE WIDTH 		  			  |
|																		  |
|																		  |
|																		  |
/~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/		

@media screen and (max-width: 980px) {
	#wrapper {
	width: 94%;
	}
	#content {
	width: 65%;
	}
	#sidebar {
	width: 30%;
	}
}
@media screen and (max-width: 700px){
	#content, #sidebar {
		width: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}
@media screen and (max-width: 480px){
	#header {
		 height: auto;
	}
	h1 { 
		font-size: 24px;
}
	#sidebar {
		float:none;
	}
}
/* Phones */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px){
	body {
		font-size: 40px;
	}
	#header {
		height: auto;
	}
	#content {
		width: auto;
	}
	#sidebar {
		width: auto;
		clear: both;
	}
	#header, #sidebar, #content, #footer {
		border-radius: 16px;
		border-width: 8px;
	}
}
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-/
|																		  |
|																		  |
|																		  |
|						BASIC STRUCTURE 		  			  |
|																		  |
|																		  |
|																		  |
/~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/		









/*border-bottom-width:2px;*/